/*
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

fonts:

font-family: 'Fraunces', serif;

font-family: 'Montserrat', sans-serif;
*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}


img,
picture {
    max-width: 100%;
    display: block;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

body {
    background-color: hsl(30, 38%, 92%);
    max-height: 100vh;
}

.container {
    margin: auto;
    width: 40rem;
    border: none;
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.row {
    display: flex;
    margin-top: 50%;
}

.column-left {
    width: 50%;
}

.column-right {
    width: 50%;
    padding: 2rem;
}

.column-right > h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 4px;
    color: hsl(228, 12%, 48%);
}

.column-right > h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 1rem 0;
    line-height: 2rem;
}

.column-right > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.5rem;
    color: hsl(228, 12%, 48%);
}

.prices {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    font-family: 'Fraunces', serif;
}

.new-price {
    font-weight: 700;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);

}

.old-price {
    color: hsl(228, 12%, 48%);
    margin-left: 1rem;
}

.button {
    display: flex;
    justify-content: center;
    width: 16rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 0.5rem;
    gap: 0.5rem;
    padding: 1rem;
    color: hsl(0, 0%, 100%);
    display: inline-flex;
}

.button:hover {
    background-color: hsl(158, 61%, 22%);
}

.attribution {
     margin-top: 12%;
     font-size: 11px; 
     text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }

@media only screen and (max-width: 375px) {

    .container {
        margin: 1rem;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .column-left {
        width: 40rem;
        height: 100%;
    }

    .column-right {
        width: 40rem;
        height: 50%;
    }

    .column-left > img {
        height: 400px;
        width: 100%;
    }
}